body {
  background-color: gray;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
table {
  background-color: beige;
  box-shadow: 5px 10px #dfdede;
}
.comment-count {
  text-align: right;
}
.button-login {
  margin-top: 20px;
  margin-right: 5px;
}

table,
th,
td {
  border: 1px solid black;
}

.form-login {
  border: 1px ridge gray;
}

.login {
  margin: 10px;
}
