body {
  background-color: gray;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}
table {
  background-color: beige;
  box-shadow: 5px 10px #dfdede;
  padding: 6px;
}
.title-home {
  color: beige;
}
.img-comment-count {
  margin-left: 10px;
  margin-right: 200px;
}
.btn-title {
  margin-bottom: 5px;
}
.button-login {
  margin-top: 20px;
  margin-right: 5px;
}
.username-newfeed {
  font-weight: bold;
}
.comment {
  margin-left: 20px;
  margin-top: 1px;
  margin-bottom: 1px;
}
.form-inputcmt {
  width: 200px;
  border: none;
  border-bottom: 1px solid rgb(216, 216, 216);
}
.welcome-text {
  color: white;
  font-size: 50px;
}

.btn-inputcmt {
  background-color: antiquewhite;
  border: none;
  border-bottom: 1px solid rgb(107, 107, 107);
}
.form-login {
  border: 1px ridge gray;
}

.login {
  margin: 10px;
}

.error-text {
  color: rgb(241, 35, 35);
}
